#spells {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    text-align: center;
    margin: 10px;
}

#spells-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}