:root {
    --main-background: url(./assets/dnd.jpg);
    --parchment: url(./assets/parchment.png);
    --parchment-top: url(./assets/ScrollTop.png);
    --parchment-bottom: url(./assets/ScrollBottom.png);
    --primary: #414143;
    --primary-dark:#161B16;
    --primary-dark-transparent: #161b1686;
    --primary-light:#5A6851;
    --primary-extralight:#87997b;
    --primary-text:#E9E4E9;
    --secondary: #69573c;
    --secondary-dark: #31291E;
    --secondary-light:#69573c88;
    --secondary-text:#8b3939;

  }


::-webkit-scrollbar {
    display: none;
  }


.screen{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-attachment:fixed;
    background-image: var(--main-background);
    background-size: cover;
    background-position: center;
}


.parchment {
  padding-top: 11.3665%; 
  padding-bottom: 10.4725%;;
}
.parchment-body::before {
  content: "";
  position: absolute;
  margin-bottom: -1px;
  width: 100%;
  bottom: 100%;
  left:0;
  padding-top: 11.3665%;
  background-image: var(--parchment-top);
  background-size: 100%;
}
.parchment-body::after{
  content: "";
  position: absolute;
  margin-top: -1px;
  width: 100%;
  left:0;
  top: 100%;
  padding-bottom: 10.4725%;
  background-image: var(--parchment-bottom);
  background-size: 100%;
}
.parchment-body{
  
  background-image: var(--parchment);
  background-position: top left;
  position: relative;
  background-size: 100% 100%;
  padding-left: 10%;
  padding-right: 10%;
  width: auto;
}
