#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
}

#home .demo-sheet {
    display: flex;
    justify-content: end;
    align-items: right;
}

#home .parchment {
    flex:content;
    flex-grow: 0;
}