#home {
    display: flex;
    justify-content:center ;
    align-items: left;
    flex-direction: row;
    flex-wrap: wrap;
    }
     
    #home .demo-sheet{
        display: flex;
    justify-content:end;
    align-items: right;
    }
    