#home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#home .demo-sheet {
    display: flex;
    flex: 50%;
    justify-content: end;
    align-items: right;
}

#home .parchment {
    flex:50%;
    flex-grow: 0;

}