#CharacterView {
    flex-grow: yes;
    max-height: 100%;
}
#CharacterView .parchment.horizontal{
    padding-right: 11.3665%; 
    padding-left: 10.4725%;
  }
#CharacterView .row {
    display: flex;
    flex-direction: row;
}
#CharacterView .col {
    display: flex;
    flex-direction: column;
    flex:303%;
}

